<p>service-customer-http works!</p>
<table border="1">
  <thead>
    <tr>
      <th>Id</th>
      <th>Name</th>
      <th>Email</th>
      <th>Age</th>
      <th>#</th>
    </tr>
  </thead>

  <tbody>
    <ng-container *ngFor="let customerType of customerTypes()">
      <tr>
        <td colspan="5">
          {{ customerType.CustomerTypeId }} - 
          {{ customerType.CustomterTypeName }}
        </td>
      </tr>
      <tr *ngFor="let customer of customerType.Customers">
        <td>
          {{ customer.Id }}
        </td>
        <td>
          {{ customer.Name }}
        </td>
        <td>
          {{ customer.Email }}
        </td>
        <td>
          {{ customer.Age }}
        </td>
        <td>
          <img
            [src]="customer.Image"
            [alt]="customer.Name" width="100" height="100">
        </td>
      </tr>
    </ng-container>
  </tbody>
</table>
